<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/restore-password-message.css">
	<link rel="stylesheet" href="/css/index.css">
	<title>Document</title>
</head>
<body>
	<div class="wrapper">
		<div class="shadow left"></div>
		<main>
			<h1>Hello {{ name }}</h1>
			<p>Please restore your password by clicking the link below:</p>
			<form action="{{ api_url }}/auth/restore-password?id={{ id }}" method="post">
				<div class="input-wrapper">
					<input type="password" name="password" placeholder="Password" required />
					<input type="password" name="confirmPassword" placeholder="Confirm password" required />
					<div class="password-error"></div>
				</div>
				<button class="button" type="submit">Restore your password</button>
			</form>
		</main>
		<footer>
			<p>If you didn't request this email, please ignore this message.</p>
			<p>Thank you!</p>
			<p>The Team</p>
		</footer>
		<div class="shadow right"></div>
	</div>
	<script>
		const password = document.querySelector('input[name="password"]');
		const confirmPassword = document.querySelector('input[name="confirmPassword"]');
		const button = document.querySelector('button');
		const passwordsError = document.querySelector('.password-error');
		const form = document.querySelector('form');

		function checkPasswords(event) {
			if(event.target.value.length < 8) {
				button.disabled = true;
			}else{
				button.disabled = false;
			}
		}

		form.addEventListener('submit', (e) => (button.disabled = true));
		password.addEventListener('input', checkPasswords);
		confirmPassword.addEventListener('input', checkPasswords);
		button.addEventListener('click', (e) => {
			if(password.value !== confirmPassword.value) {
				e.target.disabled = true;
				passwordsError.innerHTML = 'passwords don\'t match.';
				return;
			}else if(password.value.length < 8 || confirmPassword.value.length < 8) {
				e.target.disabled = true;
				passwordsError.innerHTML = 'password must be less than 8 characters.';
				return;
			}else if(confirmPassword.value.length < 8) {
				e.target.disabled = true;
				passwordsError.innerHTML = 'password must be less than 8 characters.';
				return;
			}
		});
	</script>
</body>
</html>