<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Email verification</title>
    <link rel="stylesheet" href="/css/verify-email-message.css">
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="shadow left"></div>
      <main>
        <h1>Hello, {{ user }}</h1>
        <h3>{{ message }}</h3>
      </main>
      <footer>
        <p>You can close this window,</p>
        <p>with love, Mtodo</p>
      </footer>
      <div class="shadow right"></div>
    </div>
  </body>
</html>