form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	background-color: rgba(255, 255, 255, 0.318);
	backdrop-filter: blur(5px);
	justify-content: space-evenly;
	padding: 1rem;
	text-align: center;
	box-shadow: 0 0 12px 1px rgba(101, 101, 101, 0.556);
	border-radius: 1rem;
	height: 240px;
	z-index: 10;

	& > .input-wrapper > input {
		font-size: 1rem;
		font-weight: 500;
		font-family: 'Jost', sans-serif;
		width: 100%;
		height: 2rem;
		border-radius: 0.5rem;
		padding-left: 12px;
		background-color: transparent;
		outline: none;
		border: 2px solid #ccc;
		transition: 0.3s ease;

		&:invalid {
			border-color: rgb(245, 80, 80);
		}

		&:focus {
			border-color: #64e;
		}
	}
}


footer,
main {
	text-align: center;
	z-index: 10;
}

.password-error {
	margin: 0;
	height: 30px;
	color: rgb(245, 80, 80);
	font-size: 1rem;
	align-self: flex-start;
	font-weight: 500;
}

.input-wrapper {
	display: flex;
	width: 90%;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}