<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body {
      margin: 0;
      padding: 0;
    }
    .container {
      display: block;
      margin: 0 auto;
      max-width: 340px;
      background-color: white;
    }
    h1 {
      color: black;
      font-family: 'Google Sans', sans-serif;
      font-size: 2.6rem;
      font-weight: 900;
    }
    p {
      color: black;
      font-family: 'Google Sans', sans-serif;
      font-size: 1.2rem;
      font-weight: 400;
    }
    a {
      font-family: 'Google Sans', sans-serif;
      font-size: 1.4rem;
      font-weight: 600;
      display: block;
      text-align: center;
      padding: 9px 18px;
      border-radius: 27px;
      background-color: #64e;
      outline: none;
      color: white;
      text-decoration: none;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Hello {{ name }}</h1>
    <p>Please verify your email by clicking the link below:</p>
    <a href="{{ url }}">Verify your email</a>
    <p>
      If you didn't request this email, please ignore this message.<br>
      Thank you!<br>
      The Team
    </p>
  </div>
</body>
</html>