<h1>Hello {{ name }}</h1>
<p>Please verify your email by clicking the link below:</p>
<p>
  <a href="{{ url }}">Verify your email</a>
</p>
<p>If you didn't request this email, please ignore this message.</p>
<p>Thank you!</p>
<p>The Team</p>